body {
  margin: 0;
  padding: 10px;
  background: rgb(238, 174, 174);
  background: linear-gradient(
    rgba(238, 174, 174, 1) 0%,
    rgba(174, 148, 233, 1) 100%
  );
  min-height: 100vh;
}

.list-item:hover {
  color: red;
}
